
body{
    background-color: black;
}

.origin{

    width: 50%;
    margin-left: 25%;
    
}

#header{

    font-family: Regular Libre Baskerville;
    color: white;
    text-align: center;
}

#para{
    color: white;
    text-align: center;
    /* margin-top: 300px;
    padding-bottom: 700px; */
}

#Naruto{
    border: 5px solid gold;
    width: 500px;
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    

}